body{
    background: #2e3145;
    font-family: sans-serif;
    color: navajowhite;
}

main{
    max-width: 80%;
    margin: 0px auto;
    padding: 20px;
    background: #4d5375;
    overflow: hidden;
}

h1{
    margin: 20px 15px;
    border-bottom: 1px white solid;
}

h2{
    margin-left: 35px;
    text-decoration: underline;
    color: antiquewhite;
}

hr{
    width: 80%;
    margin-top: 20px;
}

.container{
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
}
.tabContainer-3{
    grid-template-columns: 33.333% 33.333% 33.333%;
}

.tabContainer-4{
    grid-template-columns: 25% 25% 25% 25%;
}

.tabContainer-5{
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.tabs{
    position: relative;
}

img{
    height: 150px;    
}

.picture{
    text-align: center;
}

.descriptionBox{
    opacity: 0;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0%;
    width: 100%;
    height: 100%;
}


.tabs:hover .picture{
    opacity: 0.6;
}

.container:hover .tabs{
    transform: translateX(-12.5%);
    transition: 1s;
}

.tabs:hover ~ .tabs{
    transform: translateX(12.5%);
    transition: 1s;
}

.container .tabs:hover{
    transform: scale(1.25);
    transition: 1s;
}

.tabs:hover .descriptionBox{
    background: black;
    opacity: 0.6;
    color: white;
    border-radius: 250px;

}

.tabs:hover .descriptionBox p{
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    width: 100%;
    top:30%;
    opacity: 2;
}

